@use 'variables.scss';

.footer {
  background-color: black;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    margin: 0 50px;
    flex-wrap: wrap;

    &__title {
      color: #fff;
      font-size: 1rem;
      margin-bottom: 1rem;
    }

    &__contact {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 50px;

      .footer__list {
        display: flex;
        gap: 40px;

        img {
          width: 40px;
          height: 40px;
        }
      }
    }
  }
}
