@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

$grey: #494949;
$blue: #1089ff;
$black: #151515;
$white: #e8e8e8;
$primary-font: "Inter", sans-serif;
